#diri{
    padding-top: 5rem;
    border: none;
    border-radius: 9px;
    object-fit: contain;
   
}
#abu{
    padding-top: 6rem;
    padding-left: 2rem;
    color: black;

}
#abu h1{
    color: blue;

}
#abu h5{
    padding-top: 2rem;
    font-size: 18px;
    font: normal normal bold 20px/30px Roboto;
    
}
#btn-about{
    margin-top: 2rem;
    width: 10rem;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    border: none;
    color: white;
    
}
#btn-about:hover{
    margin-top: 2rem;
    width: 10rem;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    background-color: gold;
    color: white;
    border: none;
    
}#image h4{
    color: black;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    object-fit: contain;
}
#image{
    text-align: center;
    object-fit: contain;
}
.container{
    justify-content: center;
    align-items: center;
}