#diri{
    padding-top: 5rem;
    border: none;
    border-radius: 9px;
    object-fit: contain;
   
}
#abu{
    padding-top: 6rem;
    padding-left: 2rem;
    color: black;

}
#abu h1{
    color: blue;

}
#abu h5{
    padding-top: 2rem;
    font-size: 18px;
    font: normal normal bold 20px/30px Roboto;
    
}
#btn-about{
    margin-top: 2rem;
    width: 10rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    border: none;
    color: white;
    
}
#btn-about:hover{
    margin-top: 2rem;
    width: 10rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    font-size: 20px;
    background-color: gold;
    color: white;
    border: none;
    
}#image h4{
    color: black;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    object-fit: contain;
}
#image{
    text-align: center;
    object-fit: contain;
}
.container{
    justify-content: center;
    align-items: center;
}
#body1{
    animation: changeBg 5s infinite alternate linear;
    width:99.6vw;
}

@keyframes changeBg{
    0% {
        background: linear-gradient(60deg, #5572c1 10%, white);
    }
    25% {
        background: linear-gradient(60deg, #5572c1 10%, #ee6055);
    }
    50% {
        background: linear-gradient(60deg, #5572c1 10%, #60d394);
    }
    75%{
        background: linear-gradient(60deg, #5572c1 10%, #517af4);
    }
    100% {
        background: linear-gradient(60deg, #5572c1 10%, #42180f);
    }
}
@media(max-width:600px){
    #abu{
        padding-top: 6rem;
        padding-left: 2rem;
        color: black;
    
    }
    #body1{
        background: linear-gradient(40deg, #5572c1 30%, white);
        width:25%;
        padding-bottom: 10rem;
    }

}
@media(max-width:1000px){
    #abu{
        padding-top: 6rem;
        padding-left: 2rem;
        color: black;
    
    }
    #body1{
        background: linear-gradient(60deg, #5572c1 10%, white);
        width:102vw;
        padding-bottom: 10rem;
    }

}