.bscsc{
    font-size: 45px;
    margin-right: 3rem;

    
}
#corplogo{
    margin-left: 2px;
    width: 7rem;
    height: 7rem;
}
#corplogo:hover{
    transform: rotateY(360deg);
    transition: 3s;
}
.logo3{
    width: 100%;
}
.community{
    color: white;
    font-size: 16px;
    font-weight: 100;
    font: normal normal bold 20px/25px Roboto;
  
}
#mask{
    position: relative;
}
.Header{
    margin-top: 7rem;
}
.head{
     position: absolute;
     transform: translate(-50%,-50%);
     top: 50%;   
     left: 50%;
     z-index: 3;
     width: 90%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
    
     
}
.Header-contents{
    width: 80%;
}


@media screen and(max-width:1000px){
    .Header_text{
        font-size: .8rem;
    }
    .community{
        font-size: 18px !important;
        font-weight: 400 !important;
        /* font: normal normal bold 20px/30px Roboto !important; */
    }
     
}
@media screen and (max-width:600px){
    .Header-contents{
        width: 60%;
    }
    .community{
        font-size: 14px !important;
        font-weight: 300 !important;
        /* font: normal normal bold 20px/30px Roboto !important; */
    }
    .head{
       width: 100%;
    }
    .bscsc{
        font-size: .5rem;
        margin-right: 3rem; 
    }


}

@media screen and(max-width:480px){
    .community{
        font-size: 12px !important;

        /* font: normal normal bold 18px/25px Roboto !important; */
    }
    #head{
       width: 100%;
    }
    .bscsc{
        font-size: .5rem;
        margin-right: 3rem;   
    }
    .Header{
        margin-top: 14rem;
    }
 
}
