#logo1{
    width: 6rem;
    height: 6rem;
}
#logo2{
    width: 6rem;
    height: 6rem;
}
.collapse{
    justify-content: center;
}
#home{
    font-size: 20px;
    color: black;
    
}
#navbar{
    z-index: ;
}
#home:hover{
    font-size: 21px;
    color: red;
    text-decoration: underline;
}
#about{
    font-size: 20px;
    color: black;
    padding-left: 1rem;
}
#about:hover{
    font-size: 21px;
    color: red;
    text-decoration: underline;
}
#contact{
    font-size: 20px;
    color: black;
    padding-left: 1rem;
}
#contact:hover{
    font-size: 21px;
    color: red;
    text-decoration: underline;
}
@media(max-width:1000px){
    #home{
        font-size: 20px;
        color: black;
        padding-left: 1rem;
        
    }
    

}
@media(max-width:600px){
    #home{
        font-size: 20px;
        color: black;
        padding-left: 1rem;
        
    }
    

}

